<script>
$(function(){
var tokenitem = document.cookie.split(';').find(function(i){return $.trim(i).split('=')[0]=='access_token'})
if (tokenitem) { window.gitlab_token = tokenitem.split('=')[1] } else { window.gitlab_token = '' }
var path = encodeURIComponent(window.location.pathname);
if (window.gitlab_token) {
    $('#signin').text("Sign out").prop('href','{{$.Site.BaseURL}}/page/signout/?state=' + path);
    $('#api-example').click(function() {
        $.ajax('https://gitlab.com/api/v4/projects/17946986/pipeline',{
                'data':JSON.stringify({
                    'ref': 'master',
                    'variables': [{'key':'DESSERT', 'value':$('#dessert').val(), 'variable_type':'env_var'}]
                }),
                'method':'POST',
                'headers':{
                    'Authorization': 'Bearer '+window.gitlab_token,
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
                    $('#api-output').html('<b>Pipeline status is ' + output['status'] + '</b> &nbsp; <a href="' + output['web_url'] + '">View pipeline</a>');
                },
                'error':function(output) {
                    $('#api-output').html('<b>Error</b>')
                }});
        $('#pipeline-form').hide();
        $('#pipeline-after').show();
    })
} else {
    var url="https://gitlab.com/oauth/authorize?client_id=5741a7c83cf2f40d90d414d7eb2b0aeb3fb0fdd6dd63d0f76f2f3d61c8fccd2b&redirect_uri=https%3A%2F%2Ffpotter.gitlab.io%2Fexamples%2Fcustom-pipeline-form%2Fpage%2Fauth&response_type=token&scope=api&state=" + path;
    $('#signin').text("Sign in").prop('href',url);
    $('#api-example').click(function() {
        alert("Please sign in to GitLab at the top right before trying to access the API");
    })
}
})
</script>
